* {
margin: 0;
padding: 0;
box-sizing: border-box; 
color : #FFFFFF;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body {
height: 100%;
width: 100%;

}
nav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1vw 10vw;
}
nav h1 {
  font-size: 2vw;
  font-weight: 900;
  
}
.nav-part2{
  display: flex;
  align-items: center;
  gap: 2vw;
  
}
.nav-part2{
  font-size: 0.7vw;
  text-transform: uppercase;
  letter-spacing: 0.08vw;
  font-weight: 600;
}

nav button{
  background-color: green;
  padding: 1vw 2vw;
  border-radius: 50px;
  font-size: 1vw;
  
}
#nav-bottom{
  height: 0%;
  width: 80%;
  bottom: 0%;
  
  position: absolute;
  border-bottom: 1px solid #dadada;
  
  transition: all ease 0.65s;
}
nav:hover #nav-bottom{
  height: 100%;
  bottom: -100%;
} 
nav i{
  display: none;
}
nav i:hover{
  color: green;
}



#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
   
#page1 h2{
    font-size: 6vw;
    font-weight: 1000;
    line-height: 6.4vw;
    
    margin-left: 15vw;
    margin-right: 13vw;
    
}
#page1 h4{
font-size: 1.5vw;
color: #F5F5F5;

margin-bottom: 2vw;

}

#para{
display: flex;
align-items: center;
justify-content: center;
margin-top: 5vw;
gap: 1vw;




}
#para p{
    font-size: 1.3vw;
    font-weight: 700;
    
    
}
 .white{
    color: #f4f4f4;
}
 .green{
    color: green;
}
#resnav{
  height: 100%;
  width: 100%;
 background-color: #111;
  position: absolute;
  display: none;
  top: 0;
  padding: 12vw 10vw;
  }
  #resnav h4{
      margin-bottom: 4vw;
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 8vw;
     
  }

  #resnav i{
      position: absolute;
      top: 2vw;
      right: 4vw;
      font-size: 40px;
      color: white;
  }
  #resnav button{
      padding: 03vw 6vw;
    
      border-radius: 3vw;
      font-size: 4vw;
      border: 2px solid black;
  }
  #resnav h4:hover{
      color: green;
      border-bottom: 1px solid #dadada;
  }
 
#page2{
    height: 100vh;
    width: 100%;
    background: #111;
}


@media (max-width : 870px){
  #page1{
    padding: 2vw;
    
  }
    #page1 h2{
        font-size: 9vw;
        font-weight: 900;
      line-height: 9vw;
    

    }
    #para{
        flex-wrap: wrap;
        gap: 2.5vw;
        margin-top: 7vw;
        
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 4vw;
        margin-right: 3vw;
       
    }
  #para p{
    font-size: 4vw;
    flex-wrap: wrap;
    flex-shrink: 0;
    
  }
  #page1 h4{
    font-size: 4vw;
    margin-bottom: 7vw;
  
  }
  #page1 h2{
    margin-right: 3vw;
    margin-left: 5vw;
    font-size: 10vw;
    line-height: 12vw;
}


  .nav-part2{
display: none;
  } 
  nav i{
    display: block;
    font-size: 7vw;
  }
  nav button{
    position: absolute;
    left: 65%;
    font-size: 3vw;
    padding: 8px 12px;
    border: none;
  }
  nav{
    padding: 3vw 4vw;
  }
 #nav-bottom{
    display: none;
  }
  nav h1{
    font-size: 8vw;
  }
}
