* {
margin: 0;
padding: 0;
box-sizing: border-box; 
color : #FFFFFF;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body {
height: 100%;
width: 100%;

}

nav{
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 2vw 10vw;
  height: 13vh;
  z-index: 10;
  background-color: #111;
  
}
nav h1 {
  font-size: 2vw;
  font-weight: 900;
  
}
.nav-part2{
  display: flex;
  gap: 2vw;
  padding: 1vh;
  align-items: flex-start;
  position: relative;
  z-index: 10;
  }
.nav-part2 h4{
  font-size: 0.7vw;
  text-transform: uppercase;
  letter-spacing: 0.08vw;
  font-weight: 600;
  margin-bottom: 2.6vw;
}
.nav-part2 h5{
margin-bottom: 0.2vw;
display: none;
overflow: hidden;
}
.nav-part2 h5 span{
  font-size: 0.7vw;
  font-weight:400 ;
  display: inline-block;
  transform: translateY(25px);
}
.nav-div-bottom:hover{
color: #dadada;
}

nav button{
  background-color: green;
  padding: 1vw 2vw;
  border-radius: 50px;
  font-size: 1vw;
  border: none;
}


nav i{
  display: none;
}
nav i:hover{
  color: green;
}

.nav-bottom{
height: 0vh;
position: absolute;
width: 80%;
border-bottom: 1px solid #dadada;
top: 100%;
z-index: 9;
background-color: #111;
}



#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    }
   
#page1 h2{
    font-size: 6vw;
    font-weight: 1000;
    line-height: 6.4vw;
    
    margin-left: 15vw;
    margin-right: 13vw;
    
}
#page1 h4{
font-size: 1.5vw;
color: #F5F5F5;

margin-bottom: 2vw;

}

#para{
display: flex;
align-items: center;
justify-content: center;
margin-top: 5vw;
gap: 1vw;




}
#para p{
    font-size: 1.3vw;
    font-weight: 700;
    
    
}
 .white{
    color: #f4f4f4;
}
 .green{
    color: green;
}
#resnav{
  
  z-index: 11;
  height: 100%;
  width: 100%;
 background-color: #111;
  position: absolute;
  display: none;
  top: 0;
  padding: 12vw 10vw;
  }
  #resnav h3{
      margin-bottom: 4vw;
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 8vw;
      
    
     
  }

  #resnav i{
      position: absolute;
      top: 2vw;
      right: 4vw;
      font-size: 40px;
      color: white;
  }
  #resnav button{
      padding: 03vw 6vw;
    
      border-radius: 3vw;
      font-size: 4vw;
      border: 2px solid black;
  }
  #resnav h3:hover{
      color: green;
      border-bottom: 1px solid #dadada;
  }

  #moving-div{
  
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 44%;
    overflow: hidden;
    white-space: nowrap;
    padding: 1.2vw;

  }
  #moving-div .move{
   display: inline-block;
   animation-name: mobe;
   animation-duration:9s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
  }
  #moving-div .move img{
    height: 1vw;
    margin: 0 1.2vw;
  }
  @keyframes mobe {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }

    
  }
  #blur-left{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right,#111 , transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }


  #blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right,transparent,#111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 0vw 10vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8vw;
    border-top: 0.4px solid #dadada30;
    
}
#page2-left{
  height: 100%;
  width: 40%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw 0;
  
  align-items: flex-start;
  
}
#page2-left p{
  font-size: 1vw;
  font-weight: 300;
}

#page2-left h5{
  font-size: 1vw;
font-weight: 400;
width: 70%;

}
#page2-right{
  height: 100%;
  width: 50%;
  
  
 
}
.right-elem{
 position: relative;
 border-bottom: 0.4px;
 padding-top: 2vw;
 padding-bottom: 4vw;
 border-bottom: 0.4px solid #dadada30;
  
}
.right-elem h2 {
font-size: 1.4vw;
font-weight: 400;
}
.right-elem img{
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  opacity: 0;

}


#page3{
  height: 100vh;
  width: 100%;
  background: #111;
}

@media (max-width : 400px){
  #page1{
    padding: 2vw;
    
  }
    #page1 h2{
        font-size: 9vw;
        font-weight: 900;
      line-height: 9vw;
    

    }
    #para{
        flex-wrap: wrap;
        gap: 2.5vw;
        margin-top: 3vw;
        
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 5vw;
        margin-right: 2vw;
        position: absolute;
        top:61%
       
    }
  #para p{
    font-size: 4vw;
    flex-wrap: wrap;
    flex-shrink: 0;
    
    
  }
  #page1 h4{
    margin-left: 5vw;
    margin-right: 2vw;
    top: 15%;
    font-size: 4vw;
    margin-bottom: 7vw;
    position: absolute;
  
  }
  #page1 h2{
    margin-right: 2vw;
    margin-left: 5vw;
    font-size: 15vw;
    line-height: 15vw;
    position: absolute;
    top:22%
}


  .nav-part2{
display: none;
  } 
  nav i{
    display: block;
    font-size: 7vw;
  }
  nav button{
    position: absolute;
    left: 65%;
    font-size: 3vw;
    padding: 8px 12px;
    border: none;
  }
  nav{
    padding: 3vw 4vw;
    height: 6vh;
  }
 .nav-bottom{
    display: none;
  }
  nav h1{
    font-size: 8vw;
  }
  #moving-div{
    bottom: 15%;
    width: 70%;
  }
  #moving-div .move img{
    height: 3vw;
  }
  #page2{
flex-direction: column;
background-color: #111;
z-index: 9;
  }
  #page2-left{
    height: 40%;
    width: 100%;
    background-color: #111;
    padding: 4vw 4vw;
    
  }
  #page2-left p {
    font-size: 5vw;
  }
  #page2-left h5 {
    font-size: 3.5vw;
    font-weight: 400;
  }
  #page2-right{
    height: 50%;
    width: 100%;
    padding: 4vw 4vw;
  }
  .right-elem h2{
font-size: 5vw;
padding-bottom: 4vw;
padding-top: 1vw;
  }
  .right-elem img{
    display: none;
  }
}

