* {
margin: 0;
padding: 0;
box-sizing: border-box; 
color : #FFFFFF;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body {
height: 100%;
width: 100%;

}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   

    
}
#page1 h2{
    font-size: 6vw;
    font-weight: 1000;
    line-height: 7vw;
    
    margin-left: 15vw;
    margin-right: 13vw;
    
}
#page1 h4{
font-size: 1.5vw;
color: #F5F5F5;

margin-bottom: 2vw;
}

#para{
display: flex;
align-items: center;
justify-content: center;
margin-top: 5vw;
gap: 1vw;




}
#para p{
    font-size: 1.3vw;
    font-weight: 700;
    
    
}
 .white{
    color: #f4f4f4;
}
 .green{
    color: green;
}

#page2{
    height: 100vh;
    width: 100%;
    background: #111;
}


@media (max-width : 870px){
    
    #page1 h2{
        font-size: 9vw;
        font-weight: 900;
      line-height: 9vw;
    }
    #para{
        flex-wrap: wrap;
        gap: 2.5vw;
        margin-top: 7vw;
        background-color: #c21313;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 4vw;
        margin-right: 3vw;
    }
  #para p{
    font-size: 4.5vw;
    flex-wrap: wrap;
    flex-shrink: 0;
    
  }
  #page1 h4{
    font-size: 4.2vw;
    margin-bottom: 7vw;
    background-color: aqua;
  }
  #page1 h2{
    margin-right: 3vw;
    margin-left: 5vw;
    font-size: 10vw;
    line-height: 12vw;
    background: #c21313;
    
    
  }
}
